<div class="jumbotron mt-4">
  <h1 class="display-4">APP THE NOTES</h1>
  <p class="lead">App implementada con Nodejs, Mongodb, Javascript Y Express</p>
  <hr class="my-4">
  <p>Implementación = ("bcryptjs", "connect-flash”, "express", "express-handlebars, "express-session", "method-override", "mongoose", "passport" y "passport-local")
  </p>
  <a class="btn btn-primary btn-lg" href="https://www.facebook.com/PhantCode-100528041688753/" role="button">PhantCode</a>
</div>
